<div class="wrapper" [ngClass]="{'online': isOnline}">
    <div class="body">
        <div class="picture">
            <img [src]="url" alt="">
            <div *ngIf="isOnline; else offline">
                <p style="color: green; margin-left: 25px;">Online</p>
            </div>
            <ng-template #offline>
                <p style="color: red; margin-left: 25px;">Offline</p>
            </ng-template>
        </div>
        <div class="user-data">
            <h2>{{name}}</h2>
            <div class="post-text">{{status}}</div>
        </div>
    </div>
    <button 
        class="network" 
        (click)="toggleOnlineStatus()"
    >
    {{onlineStatus}}
    </button>
</div>

